@import url('reset.css');

@import url('evil.css');
@import url('ibutton.css');
@import url('itab.css');
@import url('ipagination.css');

@import url('jScrollPane.css');
@import url('tree.css');
@import url('panel.css');
@import url('itable.css');
@import url('jScrollPane.css');
@import url('console.login.css');




@import url('console.attachment.css');

.choose_lang_wrap {
  position: absolute; 
  right: 9px; 
  top: 0;  
  padding: 1px;
  border: 1px solid transparent;  
  min-width: 140px; 
  z-index: 100000000; 
}
.choose_lang_wrap.hover {
/*
  border: 1px solid #666666;
  background: #A8A8A8;  
  */
}
.choose_lang_wrap div {    
  text-align: right;
}
.choose_lang_wrap.hover div {  
  
}

.choose_lang_wrap .ul_wrap {
 
}

.choose_lang_wrap h1 {  
  width: 100%;
  line-height: 20px;
  height: 20px;    
  color: #000;
  margin-top: -2px;
  text-decoration: none;  
  text-shadow: 0 1px 0 #FFF; 
  background: #A8A8A8 url("api_categorys_img/mac-menu-bar.png") repeat-x scroll 0 0; 

}

.choose_lang_ul_wrap {
  position: absolute;  
  z-index: 99999999; 
  right: 15px;
  top: 0;
  background: #ccc url("api_categorys_img/mac-menu-bar.png") repeat-x scroll 0 0; 
  width: 120px;
  border: 1px solid #666666; 
  border-top: none;
  padding: 5px;  
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;  
  padding: 1px;
  padding-top: 20px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}
.choose_lang_ul_wrap ul {
  margin-top: 2px;
  background: #A8A8A8;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;  
}
.choose_lang_ul_wrap li {
  display: block;
  height: 20px;
  line-height: 20px;
  text-align: right;
}
.choose_lang_ul_wrap li a:visited,
.choose_lang_ul_wrap li a {  
  text-decoration: none;  
  color: #000;
  padding-right: 10px;
  background-color: transparent;      
  font-weight: bold;  
  text-shadow: 0 1px 0 #CCCCCC;
  display: block;
  width: 100%;
}
.choose_lang_ul_wrap li a:hover {  
  color:#0360DD;
}


.filter {
  background: green;
  color: #FFF;  
  padding: 0 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#6B9D28),to(#436B0C));
  background: -moz-linear-gradient(top, #6B9D28, #436B0C);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6B9D28', endColorstr='#436B0C');
}

.step {
  
}

.ele_refresh {
  padding: 2px;
  background: #ccc;
}
.ele_refresh:hover {
  color: #FFF;
  background: green;
}

.unstared,
.stared {
  display: block;
  width: 15px;
  height: 15px;
  background: url(img/mail.png) no-repeat 0 0;
  cursor: pointer;
}
.unstared {    
  background: url(img/mail.png) no-repeat 0 -20px;
}
.stared {    
  background-position: -20px -20px;
}

.content_item {
  height: 16px;
  line-height: 16px;
  overflow: hidden;  
  text-overflow:ellipsis; 
  overflow:hidden;
  white-space:nowrap;  
  font-weight: bold;
  cursor: pointer;  
}
.content_item:hover {
  color: #3787EA;  
}

/* leafs sidebar */
.leaf-sidebar {
  width: 42px;
}
.leaf-sidebar li {
  height: 42px;
  width: 42px;  
}
.leaf-sidebar li a {
  width: 32px;
  height: 32px;
  display: block;  
  margin: auto;
  background: url(action_32.png) no-repeat 0 0;  
}

.leaf-sidebar li a.ele_create_category {
  background-position: -32px -32px;
}
.leaf-sidebar li a.ele_create_category.active {
  background-position: 0px -32px;
}
.leaf-sidebar li a.ele_create_category.active:hover {
  background-position: -96px -32px;
}
.leaf-sidebar li a.ele_update_leaf {
  background-position: -32px -640px;
}
.leaf-sidebar li a.ele_update_leaf.active {
  background-position: 0px -640px;
}
.leaf-sidebar li a.ele_update_leaf.active:hover {
  background-position: -96px -640px;
}

.leaf-sidebar li a.ele_move_leaf {
  background-position: -32px -608px;
}
.leaf-sidebar li a.ele_move_leaf.active {
  background-position: 0px -608px;
}
.leaf-sidebar li a.ele_move_leaf.active:hover {
  background-position: -96px -608px;
}

.leaf-sidebar li a.ele_del_leaf {
  background-position: -32px -160px;
}
.leaf-sidebar li a.ele_del_leaf.active {
  background-position: 0px -160px;
}
.leaf-sidebar li a.ele_del_leaf.active:hover {
  background-position: -96px -160px;
}

.icategory_tree {
  background: #fefefe;
}

body {
  background: #EFEFEF url(osx.jpg) 50% 0;
  background: #EFEFEF url(bg_40x40.png) repeat 0 0;
  font-size: 12px;
}


.atm_photos {
  /*
  height: 400px;
  overflow: auto;
  */
}

.iform {
  position: relative;
}

.ajax_overlay {
  width: 100%;
  height: 100%;  
  opacity: .6;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #000 url(load.gif) no-repeat 50% 50%;
}

#cb_all_wrap {  
  height: 47px;
  line-height: 47px;
}
#cb_all_wrap input {  
  
  vertical-align: middle;
}

div.errorSummary {
	border: 2px solid #E5ADA7;
	background: #FED6D2;
	padding: 5px;
  margin: 3px;
}

.note {  
  padding: 8px;
  background: #FFFFCC;
  font-weight: bold;
  border-bottom: 1px solid #CCCCCC;
  color: #8C0505;
}
.flash_suc,
.feedback_suc,
.feedback_on {
  border: 2px solid #A5DA94;
  background: #DBF1D4;
  padding: 5px;
  margin: 3px;
  font-size: 12px;
}

.step {  
  margin: 3px;
}
.step h1 {
  margin: 0;
  padding: 0;
  text-indent: 10px;
  text-shadow: 0 1px 0 #FFFFFF;
  font-size: 200%;
  background: #E0E0E0;  
  border-bottom: 1px solid #9E9E9E;
}
.step ul {
  margin-top: 5px;
}
.step ul li {
  line-height: 30px;
  height: 30px;  
  margin-left: 20px;
}
.step ul li a {
  text-decoration: none;
}

#mainmenu {
  background: url(api_categorys_img/mac-menu-bar.png) no-repeat 0 0px;
  background: url(api_categorys_img/mac-menu-bar.png) repeat-x 0 0px;
}
#mainmenu ul
{
  height: 38px;  
	margin:0px;
	padding-left: 10px;
}
#mainmenu ul li {
  height: 38px;      
}

#mainmenu ul li a
{
	color: #000;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;			
	line-height: 20px;
	height: 20px;
	display: block;
	float: left;
	margin-top: 1px;
	margin-right: 1px;
	padding: 0px 10px;	
	text-shadow: 0px 1px 0px #ccc;
	
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
  color: #FFF;    
  text-shadow: 0px 1px 0px #000;  
  background: url(panel_images/navigation_hover.png) no-repeat 0 bottom;
	text-decoration:none;
}



.crP {
	cursor: pointer;
}
.highlight_selected {	
	background: gray;
	background-color: rgba(0,0,0,0.2);
}
#leaf_articles_wrap {
	float: left;
  width: 522px;;	
  width: 478px;
	height: 400px;		
}
#leaf_articles{
  overflow: auto;	
  width: 522px;;
  width: 478px;
  height: 353px;  
}
#content {
  /*
	width: 800px;
	height: 400px;	
	*/
}
#tree_root,
.tree_div,
#tree_content {	
	height: 400px;
}



.c_m_a_d,
.c_s_m_d {
  border: 1px solid #666;    
  background: #E3E3E3;
  position: absolute;    
  left: 0;
  top: 17px;
  z-index: 10000000;
  width: 120px;
}
.c_m_a_d li,
.c_s_m_d li {
  display: block;
  line-height: 20px;
  height: 20px;    
  padding: 0 3px;
  margin: 2px 3px; 
  cursor: pointer;
}
.c_m_a_d li:hover,
.c_s_m_d li:hover {
  background: #3787EA;
  color: #fff;  
}

.c_s_m,
.c_m_a,
.ele_create {
  position: relative;
  border: 1px solid #131313;  
  border-color: #CCCCCC #BBBBBB #A0A0A0;
  border-right: 1px solid #BBBBBB;
  border-style: solid;
  background: #efefef;
  text-decoration: none;
  cursor: pointer;
  padding: 3px 5px;
  -moz-border-radius: 3px;
  border: 1px solid #ccc;  
  color: #111;
  background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
}
.c_m_a .more,
.c_s_m .more{  
  padding: 0 4px;  
  background: url(arrow_down.png) no-repeat right 80%;
}

.c_s_m:hover,
.c_m_a:hover,
.ele_create:hover {
  border: 1px solid #3787EA;
  border: 1px solid #666;
}
.c_m_a.hover,
.c_s_m.hover {
  border: 1px solid #3787EA;
  border: 1px solid #666;
  border-bottom: 1px solid #E3E3E3;  
  -moz-border-radius: 3px 3px 0px 0pxs
}

.actions {		
	line-height: 34px;	
	height: 34px;
	text-align: left;	
	vertical-align: top;
	background: #E9E9E9;
	padding-left: 5px;
	border-bottom: 1px solid #B8B8B8;		
}
.actions>li {
  display: inline;
  margin-right: 10px;
  position: relative;  
  -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
}
.actions>li>span {
  line-height: 20px;
  height: 20px;  
}
.actions>li>span input {
  vertical-align: middle;
}


.actions li.list_symbol ,
.actions li.thumb_symbol {
  margin-right: 0px;    
}
.actions li.list_symbol {
  
}
.actions li.list_symbol a {
  margin-right: 5px;
}
.actions li.list_symbol a,
.actions li.thumb_symbol a {    
  float: right;
  margin-left: 5px;
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-top: 8px;
  background: url(action_32.png) no-repeat 0 0;    
}
.actions li.thumb_symbol a {  
  /*background-position: -103px -711px;*/
  background-position: -8px -711px;
}
.actions li.list_symbol a {  
  background-position: -103px -679px;  
}


