@import url('reset.css');
/*@import url('awesome.css');
@import url('styles/ui-lightness/jquery-ui-1.8.2.custom.css');*/
@import url('jScrollPane.css');
@import url('tree.css');
@import url('panel.css');
@import url('itable.css');
@import url('jScrollPane.css');
@import url('console.login.css');

@import url('console.attachment.css');

/* leafs sidebar */
.leaf-sidebar {
  width: 42px;
}
.leaf-sidebar li {
  height: 42px;
  width: 42px;  
}
.leaf-sidebar li a {
  width: 32px;
  height: 32px;
  display: block;  
  margin: auto;
  background: url(action_32.png) no-repeat 0 0;  
}

.leaf-sidebar li a.ele_create_category {
  background-position: -32px -32px;
}
.leaf-sidebar li a.ele_create_category.active {
  background-position: 0px -32px;
}
.leaf-sidebar li a.ele_create_category.active:hover {
  background-position: -96px -32px;
}
.leaf-sidebar li a.ele_update_leaf {
  background-position: -32px -640px;
}
.leaf-sidebar li a.ele_update_leaf.active {
  background-position: 0px -640px;
}
.leaf-sidebar li a.ele_update_leaf.active:hover {
  background-position: -96px -640px;
}

.leaf-sidebar li a.ele_move_leaf {
  background-position: -32px -608px;
}
.leaf-sidebar li a.ele_move_leaf.active {
  background-position: 0px -608px;
}
.leaf-sidebar li a.ele_move_leaf.active:hover {
  background-position: -96px -608px;
}

.leaf-sidebar li a.ele_del_leaf {
  background-position: -32px -160px;
}
.leaf-sidebar li a.ele_del_leaf.active {
  background-position: 0px -160px;
}
.leaf-sidebar li a.ele_del_leaf.active:hover {
  background-position: -96px -160px;
}

.icategory_tree {
  background: #fefefe;
}

body {
  background: #EFEFEF url(osx.jpg) 50% 0;
  background: #EFEFEF url(bg_40x40.png) repeat 0 0;
  font-size: 12px;
}
.w600p {
  width: 600px;
}
.dN {
  display: none;
}
.taL {
  text-align: left;
}

.h20P { height: 20px; }
.h30P { height: 30px; }
.h40P { height: 40px; }
.h50P { height: 50px; }

.pt10P { padding-top: 10px; }

.pr5P { padding-right: 5px; }
.pr10P { padding-right: 10px; }


.mt10P { margin-top: 10px; }

.ml20P{ margin-left: 20px; }


.taR {
  text-align: right;
}
.atm_photos {
  /*
  height: 400px;
  overflow: auto;
  */
}

.iform {
  position: relative;
}

.ajax_overlay {
  width: 100%;
  height: 100%;  
  opacity: .6;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #000 url(load.gif) no-repeat 50% 50%;
}

#cb_all_wrap {  
  height: 47px;
  line-height: 47px;
}
#cb_all_wrap input {  
  
  vertical-align: middle;
}

div.errorSummary {
	border: 2px solid #E5ADA7;
	background: #FED6D2;
	padding: 5px;
  margin: 3px;
}

.feedback_on {
  border: 2px solid #A5DA94;
  background: #DBF1D4;
  padding: 5px;
  margin: 3px;
  font-size: 12px;
}

#mainmenu {
  background: url(api_categorys_img/mac-menu-bar.png) no-repeat 0 0px;
  background: url(api_categorys_img/mac-menu-bar.png) repeat-x 0 0px;
}
#mainmenu ul
{
  height: 38px;  
	margin:0px;
	padding-left: 10px;
}
#mainmenu ul li {
  height: 38px;      
}

#mainmenu ul li a
{
	color: #000;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;			
	line-height: 20px;
	height: 20px;
	display: block;
	float: left;
	margin-top: 1px;
	margin-right: 1px;
	padding: 0px 10px;	
	text-shadow: 0px 1px 0px #ccc;
	
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
  color: #FFF;    
  text-shadow: 0px 1px 0px #000;
  background: url(panel_images/column_item.png) no-repeat 0 bottom;  
	text-decoration:none;
}



.crP {
	cursor: pointer;
}
.highlight_selected {	
	background: gray;
	background-color: rgba(0,0,0,0.2);
}
#leaf_articles_wrap {
	float: left;
  width: 522px;;	
  width: 478px;
	height: 400px;		
}
#leaf_articles{
  overflow: auto;	
  width: 522px;;
  width: 478px;
  height: 353px;  
}
#content {
  /*
	width: 800px;
	height: 400px;	
	*/
}
#tree_root,
.tree_div,
#tree_content {	
	height: 400px;
}



.c_m_a_d,
.c_s_m_d {
  border: 1px solid #3787EA;    
  background: #fff;
  position: absolute;    
  left: 0;
  top: 17px;
  z-index: 10000000;
  width: 120px;
}
.c_m_a_d li,
.c_s_m_d li {
  display: block;
  line-height: 20px;
  height: 20px;    
  padding: 0 3px;
  margin: 2px 3px; 
  cursor: pointer;
}
.c_m_a_d li:hover,
.c_s_m_d li:hover {
  background: #3787EA;
  color: #fff;  
}

.c_s_m,
.c_m_a,
.ele_create_article {
  position: relative;
  border: 1px solid #131313;  
  background: #efefef;
  text-decoration: none;
  cursor: pointer;
  padding: 2px 8px;
  -moz-border-radius: 3px;
  border: 1px solid #ccc;  
  color: #111;
}
.c_m_a .more,
.c_s_m .more{  
  padding: 0 4px;  
  background: url(arrow_down.png) no-repeat right 80%;
}

.c_s_m:hover,
.c_m_a:hover,
.ele_create_article:hover {
  border: 1px solid #3787EA;
}
.c_m_a.hover,
.c_s_m.hover {
  background: #FFF;
  border: 1px solid #3787EA;
  border-bottom: 1px solid #fff;  
  -moz-border-radius: 3px 3px 0px 0px;
}

.actions {		
	line-height: 34px;	
	height: 34px;
	text-align: left;	
	vertical-align: top;
	background: #E9E9E9;
	padding-left: 5px;
	border-bottom: 1px solid #B8B8B8;		
}
.actions>li {
  display: inline;
  margin-right: 10px;
  position: relative;  
}
.actions>li>span {
  line-height: 20px;
  height: 20px;  
}
.actions>li>span input {
  vertical-align: middle;
}

/*
.actions li.hover:hover {
  
	background: url('panel_images/column_item.png') repeat-x 0 0;
	
}
.actions li:hover {
}
.actions li.seperate {
	width:1px;
	padding:0;
	border-right: 1px solid #666666;
}
*/
.actions li a {
  /*
	cursor: text;
	*/
}
.actions li img {
  /*
	width: 32px;
	height: 32px;
	vertical-align: middle;
	*/
	
}
.actions li.hover img {
	cursor: pointer;	
}
