.books-wrap{
	width: 80%;
	margin: auto;	
	padding: 5px;
	}
	.books-wrap .books{
		background-color: rgba(0,0,0,0.2);
		padding: 5px;		
		float: left;
		margin-right: 10px;
		border: 1px solid #CCC;				
		}
		.books-wrap .books p {
			background: #FFF;
			padding: 0 5px;
		}
		.books-wrap .books p.thumb {
			padding-top: 5px;
		}
		.books-wrap .books .title {			
			font-size: 12px;
			text-align: center;
			line-height: 20px;
		}
		