td#attachment_form_wrap {
  vertical-align: top;
  display: none;
  padding: 10px;
}

.atm_photos li{
  overflow: hidden;
  float: left;
  width: 152px;
  height: 141px;    
  background: url(api_categorys_img/single-bg.png) no-repeat 0 0;
  text-align: center;
  margin: 5px;  
  opacity: 0.9;
}
.atm_photos li:hover{
   opacity: 1;
}
.atm_photos li img{
  margin-top: 10px;  
  width: 130px;  
  height: 102px;
}
.atm_photos li p {  
  width: 135px; 
  text-align: left;
  margin: auto;
  }
  .atm_photos li p span.atts {
    float: right;
    padding-right: 2px;
    padding-top: 2px;
  }
  .atm_photos li p span.atts:hover {
    color: blue;
  }
