@import url('ibutton.css');

::-moz-focus-inner{
 	border:none;padding:0;
} 
 
.data_block_hir {
	width: 120px;
	float: left;		
	background: #FFF;	
	height: 420px;	
	margin: 10px;	
	
	float: left;		
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding: 5px 0;
	
	
	float: left;
	width: 20%;
	margin-right: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	
	}
	.data_block_hir h2 {
		font-size: 14px;
		margin: 5px;
		font-weight: bold;
		}
		.data_block_hir h2 span {
			background: #FFF;
			color: #ccc;
			float: right;
			display: block;
			-moz-border-radius: 15px;
			width: 15px;
			text-align: center;
			height: 15px;
			line-height: 15px;
			margin-top: 1px;
			margin-right: -4px;
		}
		.data_block_hir li {			
			text-indent: 5px;
			display: block;
			text-decoration: none;
			font-weight: bold;
			text-transform: capitalize;
			font-size: 12px;
			width: 100%;
			line-height: 24px;
			height: 24px;
			overflow: hidden;
			text-overflow: ellipsis;			
		}		
		
		.data_block_hir li.selected {
			color: #FFF;
  		text-shadow: #2186ff 0 1px 1px;
  		text-shadow: blue 0 1px 0px;
			background: #313131;
			background: url(panel_images/column_item.png) repeat-x 0 0 ;	
			}		
			.data_block_hir li.selected span.handle {
				background-image: url(img/grippy_white.png);
			}
		.data_block_hir li.temp {
			text-indent: 2em;
		}			
		.data_block_hir li.ui-state-hover {
			background: url(panel_images/column_item_gray.png) repeat-x 0 0;			
			border: none;
			color: #606060;
			color: #FFF;
			background: #CA0B0B;
			}
			.data_block_hir li.ui-state-hover span.handle {
				background-image: url(img/grippy_dark.png);
				background-image: url(img/grippy_white.png);
			}
		.data_block_hir li span.handle {
			cursor: url(img/openhand.cur), default !important;
			background: url(img/grippy.png) no-repeat 0 0;
			margin-right: 5px;
		}
		.data_block_hir li span.block_ele {
			cursor: pointer;
		}		
		.data_block_hir li .block_ele:hover {
			color:green;
		}
		.data_block_hir li.selected .block_ele:hover {
			color: #FFF;
		}

/*

body {
	/*
	font-family:"Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti !important;
	font:10pt Arial,Helvetica,sans-serif;
	*/
}
.button  {
	font:10pt Arial,Helvetica,sans-serif;
	-moz-box-shadow:0 1px 3px rgba(66, 66, 77, 0.4);
	background-color:#F5F5F5;
	color:#333333;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0 1px 1px #FFFFFF;
}

.button {
	-moz-border-radius:5px 5px 5px 5px;
	background-image:url("img/button_bg.png");
	border-color:rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35);
	border-style:solid;
	border-width:1px;
	font-size:12px;
	line-height:12px;
	outline:medium none;
	padding:4px 15px;
}
.button:hover {
	-moz-box-shadow:0 1px 2px rgba(66, 66, 77, 0.2);
	background-color: #FFF;
	color: #333;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px 1px #FFFFFF;
}
.button:active  {
	-moz-box-shadow:0 1px 2px rgba(66, 66, 77, 0.2);
	background-color:#333333;
	background-color: #EEE;
	/*
	color:#FFFFFF;
	text-shadow:0 1px 1px #000000;
	*/
	cursor:pointer;
	font-weight:bold;
	text-decoration:none;
	
}