.ilogin_wrap {
  margin: auto;
  margin-top: 60px;
  }
  .ilogin_wrap .icolor {
     
  }
  .ilogin_wrap .column_nav {
    width: 200px;
    float: left;
    height: 250px;
    background: #D1D7E2;
  }
  
  .ilogin_wrap .login_column_main {          
  }
  .login_column_main .ipwd,
  .login_column_main .itext {
    padding: 5px;
    border: 1px solid #CCC;
  }  
  .login_column_main h3 {    
    color: black;
    font-size: 2em;
    height: 61px;
    line-height: 61px;
    padding: 0px 1em;
    text-shadow: white 0px 1px 0px;
    }
    .login_column_main h3 strong {
      margin-left: 0.5em;
    }
    .login_column_main  h3 img {
      vertical-align: middle;
    }
  .login_column_main p {
    color: #666;
    font-size: 1.2em;
    line-height: 26px;
    padding: 0px 1em;
    text-indent: 2em;
    text-shadow: white 0px 1px 0px;
    word-wrap: break-word;
  }