
.btT {
  border: 1px solid #efefef;  
  border-bottom: 1px solid #b8b8b8;
  background: #F2F2F2;
}
.btT:hover {      
}
  
.btT td {
  padding: 2px 0;
}
.bgRed {
  background: red;
}
.bgTips{
  background: #FFFFCC;
}

.bcc {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

.bcBlue {
  border: 1px solid #73A6FF;  
}


.clB { clear: both; }

.csD { cursor: url(img/openhand.cur), default !important; }
.csP { cursor: pointer; }

.fs15p {font-size: 15px; }

.flL { float: left; }
.flR { float: right; }


.w100s { width: 100%; }
.w10p { width: 10px; }
.w15p { width: 15px; }
.w20p { width: 20px; }
.w26p { width: 26px; }
.w28p { width: 28px; }
.w30p { width: 30px; }
.w34p { width: 34px; }
.w40p { width: 40px; }
.w50p { width: 50px; }
.w60p { width: 60px; }
.w70p { width: 70px; }
.w80p { width: 80px; }
.w90p { width: 90px; }
.w100p { width: 100px; }
.w110p { width: 110px; }
.w120p { width: 120px; }
.w130p { width: 130px; }
.w140p { width: 140px; }
.w150p { width: 150px; }
.w160p { width: 160px; }
.w400p { width: 400px; }
.w580p { width: 580px; border: 1px solid red; }
.w600p { width: 600px;}

.dN { display: none; }
.dB { display: block; }

.taL { text-align: left; }
.taC { text-align: center; }
.taR { text-align: right; }

.h16p { height: 16px; } 
.h20p { height: 20px; }
.h30p { height: 30px; }
.h40p { height: 40px; }
.h50p { height: 50px; }
.h100p { height: 100px; }
.h150p { height: 150px; }
.h200p { height: 200px; }
.h400p { height: 400px; }

.pr2p { padding-right: 2px; }
.pl2p { padding-left: 2px; }
.p2p { padding: 2px; }
.p5p { padding: 5px; }
.pt10P { padding-top: 10px; } 
.pr5P { padding-right: 5px; }
.pr10P { padding-right: 10px; }

.pl2p { padding-left: 2px; }
.pl3p { padding-left: 3px; }
.pl4p { padding-left: 4px; }


.ml5P { margin-left: 5px; }
.ml10P { margin-left: 10px; }

.mr5P { margin-right: 5px; }
.mr10P { margin-right: 10px; }

.mt5P { margin-top: 5px; }
.mt10P { margin-top: 10px; }


.mb5P { margin-bottom: 5px; }
.mb10P { margin-bottom: 10px; }

.ml20P{ margin-left: 20px; }

.ti4P {
  text-indent: 4px;
}
.tdU { text-decoration: underline; }
.tdN { text-decoration: none; }

.vaT { vertical-align: top; }
.vaM { vertical-align: middle; }
.vaB { vertical-align: bottom; }

.ofA { overflow: auto; }
.ofH { overflow: hidden; }

.zoom {
  zoom: 1;
}
.radius7 {
  -moz-border-radius: 15px;
}
