.button {
  -webkit-box-shadow: #DDD 0px 1px 2px;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), color-stop(0.4, whiteSmoke), color-stop(0.41, #EBEBEB));
border: 1px solid #ABC;
border-bottom-left-radius: 2px 2px;
border-bottom-right-radius: 2px 2px;
border-top-left-radius: 2px 2px;
border-top-right-radius: 2px 2px;
color: #567;
cursor: pointer;
display: inline-block;
min-width: 120px;
padding: 6px;
text-align: center;

}
.button:hover {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), color-stop(0.4, #EEF4FC), color-stop(0.41, #E1EAF5));
}
.button:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e0e9f4), color-stop(1, #f5f9f4));
}

.button img {
    vertical-align: text-bottom;;
}

.ibtn {

  border:1px solid #4592AD;
  color:#FFFFFF;
  cursor:pointer;
  font-size:13px;
  font-family: 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', Tahoma, 'Hiragino Sans GB', STHeiti !important;
  font-weight:bold;
  padding:3px 15px;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);
  outline: none;

  -moz-border-radius:5px 5px 5px 5px;
  -moz-box-shadow:0 1px 1px rgba(255, 255, 255, 0.4) inset, 0 -1px 0 rgba(255, 255, 255, 0.1) inset, 0 0 0 #0F3E75, 0 0 2px rgba(0, 0, 0, 0.5);
  background:-moz-linear-gradient(center top , #62C8EC 20%, #319ABF 100%) repeat scroll 0 0 transparent;
  -webkit-box-shadow: rgba(255, 255, 255, 0.398438) 0px 1px 1px inset, rgba(255, 255, 255, 0.0976563) 0px -1px 0px inset, #0F3F75 0px 0px 0px, rgba(0, 0, 0, 0.496094) 0px 0px 2px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.2, #62C8EC), to(#319ABF));
  
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  -moz-border-radius: 15px;
 
  text-shadow: rgba(0, 0, 0, 0.199219) 0px -1px 0px;
  -moz-outline-style:none;

  /*
  border-bottom-left-radius: 14px 14px;
border-bottom-right-radius: 14px 14px;
border-top: 1px solid rgba(255, 255, 255, 0.199219);
border-top-left-radius: 14px 14px;
border-top-right-radius: 14px 14px;
display: block;
line-height: 1;
padding: 4px 15px 6px;
*/

/*
border-bottom-left-radius: 14px 14px;
border-bottom-right-radius: 14px 14px;
border-top: 1px solid rgba(255, 255, 255, 0.199219);
border-top-left-radius: 14px 14px;
border-top-right-radius: 14px 14px;
display: block;
line-height: 1;
padding: 4px 15px 6px;


background-image: url(http://ifotus.appspot.com/static/images/super-button-overlay.png);
border: 1px solid rgba(0, 0, 0, 0.246094);
border-bottom-left-radius: 15px 15px;
border-bottom-right-radius: 15px 15px;
border-top-left-radius: 15px 15px;
border-top-right-radius: 15px 15px;
font-size: 13px;
*/
}


.ibtn:hover {
  -webkit-box-shadow: rgba(255, 255, 255, 0.0976563) 0px 1px 1px inset, rgba(255, 255, 255, 0.296875) 0px -1px 0px inset, #0F3F75 0px 0px 0px, rgba(0, 0, 0, 0.296875) 0px 0px 5px;
	background: #4EB1D4;
}

.ibtn:active {
	-moz-box-shadow:0 5px 5px rgba(0, 0, 0, 0.2) inset, 0 -1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 #0F3E75, 0 0 5px rgba(0, 0, 0, 0.2);
	outline:medium none;
	text-shadow:0 1px 0 rgba(0, 0, 0, 0.5);
}








.form_tab {  
  background-image: url(http://fotoratan.appspot.com/static/images/super-button-overlay.png);
  background-color: #91BD09;  
  background-color: #F9FCF9;
  border: 1px solid rgba(0, 0, 0, 0.246094);
  border-bottom: none;
  border-bottom-left-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;  
  -moz-border-radius: 3px 3px  0 0 ;
  
  font-size: 13px;
  padding: 0px;
  color: #CCC;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  overflow: visible;  
  position: relative;
  text-decoration: none;
  width: auto;  
}

.form_tab_selected,
.form_tab:hover {
  background-color: #749A02;
  background-color: #F9FCF9;
  background-color: #696969;
  color: #FFF;
}

.form_tab span {
  border-bottom-left-radius: 14px 14px;
  border-bottom-right-radius: 14px 14px;  
  border-top: 1px solid rgba(255, 255, 255, 0.199219);
  border-top-left-radius: 14px 14px;
  border-top-right-radius: 14px 14px;
  -moz-border-radius: 14px;
  display: inline-block;
  line-height: 1;
  padding: 4px 15px 6px;
}
.form_tab_selected span {
  color: #FFF;
}

.form_field_wrap {
  background-color: #749A02;
  background-color: #696969;
  background: #FFF;
  border-top: 2px solid #696969;;
  margin-bottom: 10px;
  padding: 5px;
}

.form_field_wrap textarea{
  border: none;
  width: 100%;
  height: 100%;
  font-size: 12px;
}


.iform{
  /*
  background: #EEE;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  -moz-border-radius: 5px;
  margin: 0px 0px 10px;
  padding: 5px;
  background: yellow;
  */
}

.inner_tab {
  border: 1px solid transparent;    
  color: #666;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 8px;
  text-decoration: none;
  cursor: pointer;
}

.inner_tab_selected{
  background-image: url(http://fotoratan.appspot.com/static/images/super-button-overlay.png);  
  border: 1px solid rgba(0, 0, 0, 0.246094);  
  border-bottom-left-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  -moz-border-radius: 3px ;
  color: #FFF;  
  background-color: #696969;
  
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 8px;
  text-decoration: none;
}
.inner_wrap {
  background-color: white;
  border: 1px solid #afafaf;
  padding: 5px;
}