.itable {
 	border-collapse: collapse;
	margin: 0;
	padding: 0;  
	background: #FFF;    
}
.itable caption {
	padding: 0 0 5px 0;
	font: 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
  font-weight: bold;
}

.itable tbody th {	
	color: #4f6b72;	
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 6px 6px 6px 12px;
	text-align: right;	
	vertical-align: top;
}
.itable tbody td {	
	text-align: left;
	vertical-align: top;
	padding: 6px 6px 6px 12px;	
	color: #4f6b72;
}
.itable tbody td input[type='text'] {
	background-color: #F2F2F2;
	border: solid #B1B1B1;
	border-width: 1px 0px 0px 1px;
	color: #333;
	display: block;
	font-size: 14px;
	height: 29px;	
	padding-left: 10px;
	width: 400px;
}
.itable tbody td textarea {
	border: solid #B1B1B1;
	background-color: #F2F2F2;
	border-width: 1px 0px 0px 1px;
	width: 400px;
	padding-left: 10px;
	font-size: 14px;
}