.dN {
	display: none;
}
.mac_panel_wrap {
  width: 800px;
  margin: auto;
}
.mac_panel {
    border: 3px solid purpel;
    width: 100%;
  }
  
  .drag_handle {
  	cursor: move;
  }
  
  .ui-icon-gripsmall-diagonal-se { 
  	z-index: 10000000000;  	
  	bottom: 8px;
  	right: 15px;
  	background-position: -64 -224px;   	
  }
  
  .panel_top .right,
  .panel_top .middle,
  .panel_top .left {
    height: 42px;
    line-height: 42px;
  }

  .panel_top .left {
    width: 26px;
    background: url(panel_images/panel_top_left.png) no-repeat 0 0;    
  }
  .panel_top .right_ct,
  .panel_top .left_ct,
  .panel_top .middle {
    vertical-align: middle;
    vertical-align: bottom;
    text-align: center;
    background: url(panel_images/panel_top_middle.png) repeat-x 0 0;
  }
  .panel_top .middle {    
    font-size: 1.2em;
    font-weight: bold;
    color: #666;        
    text-shadow: #EEE 0px 1px 0px;
  }

  .panel_top .left_ct {
    width: 100px;
  }
  .panel_top .right_ct span ,
  .panel_top .left_ct span {
    float: left;
    width: 22px;
    display: block;
    line-height: 20px;
    height: 22px;
  }
  .panel_top .right_ct span {
  	float: right;
  }
  .panel_top .middle .title {
    display: block;
    line-height: 16px;
    height: 22px;
    text-indent: -70px;
    text-shadow: #FFF 0 1px 0;    
  }
  .panel_top .middle a {
    line-height: 20px;
    height: 22px;
    display: block;
    text-align: center;
    border: 1px solid red;
  }
	.panel_top .right_ct span.ct ,
  .panel_top .left_ct span.ct {
    text-indent: -100000px;
    cursor: pointer;
  }
	.panel_top .right_ct span.ct ,
	.panel_top .left_ct span.ct {
		background: url('panel_images/panel_control.png') no-repeat 0 0;
	} 
	
	.panel_top .left_ct span.close {
		background-position: 0 -2px;    
  }
  .panel_top .left_ct span.close:hover {
  	background-position: -22px -2px;  	
  }
  .panel_top .left_ct span.min {
  	background-position: 0 -24px;
  }
  .panel_top .left_ct span.min:hover {
  	background-position: -22px -24px;    
  }
  .panel_top .left_ct span.max {
    background-position: 0 -46px;
  }
  .panel_top .left_ct span.max:hover {
  	background-position: -22px -46px;    
  }
  .panel_top .left_ct span.inactive {
  	background-position: 0 -68px;
	}
	.panel_top .right_ct span.mb {
		background-position: 0 -90px;
	}
	.panel_top .right_ct span.mb:hover {
		background-position: -22px -90px;
	}
    
  .panel_top .right {
    width: 26px;
    background: url(panel_images/panel_top_right.png) no-repeat right 0;
  }

  /* panel bottom start */
  .panel_bottom .right ,
  .panel_bottom .middle, 
  .panel_bottom .left {
    height: 32px;
    line-height: 32px;
  }

  .panel_bottom .left {
    width: 26px;
    background: url(panel_images/panel_bottom_left.png) no-repeat 0 0;
  }
  .panel_bottom .middle {
    color: #666;
    background: url(panel_images/panel_bottom_middle.png) repeat-x 0 0;
  }
   .panel_bottom .middle  {
    text-align: center;
    vertical-align:  top;
    vertical-align:  bottom;
  }

  .panel_bottom .right {
    width: 26px;
    background: url(panel_images/panel_bottom_right.png) no-repeat 0 0;
  }
  /* panel bottom end */
 
   /* panel middle start */
  .panel_middle .right ,
  .panel_middle .left {  	
  }

  .panel_middle .left {
    width: 16px;
    min-width:16px;
    background: url(panel_images/panel_middle_left.png) repeat-y 0 0;
  }
    .panel_middle .right {
    width: 12px;
    min-width:12px;
    background: url(panel_images/panel_middle_right.png) repeat-y 0 0;        
  }
  /* panel middle end */

  .panel_middle .middle {
    background: #e2e2e2;
    background: red;
    overflow: auto;
  }


  .panel_middle .middle {
    background: #e2e2e2;
    background: #F2F2F2;
  }

   .column_nav {
   	/*
    width: 200px;
    float: left;    
    background: #d5dde5;
    */
  }
  .column_nav ul {
  	/*
    height: 100%;
    */
  }
  .test {  	
  }
  
  

  .column_nav ul li {
    line-height: 47px;
    height: 47px;
    color: #FFF;
    background: #D1D7E2 url(panel_images/column_item_gray.png) repeat-x 0 0; 
  }
  .column_nav ul li.current,
  .column_nav ul li:hover {  	
  	background: url(panel_images/column_item.png) repeat-x 0 0 ;
	}
  .column_nav ul li a {
    text-decoration: none;
    text-indent: 2.5em;
    font-size: 1.6em;
    color: #606060;
    text-shadow: #FFF 0 1px 1px;
    display: block;
    width: 100%;
    height: 100%;
    /*
    background: #D1D7E2 url(panel_images/column_item_gray.png) repeat-x 0 0; 
    */
    /*
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #DFDFDF;
    background: #D1D7E2; 
    */
    
  }
  .column_nav ul li a.networks {	
		background: url(panel_images/Favorites.png) no-repeat 0 50%;
	}	
	.column_nav ul li a.about_me {	
		background: url(panel_images/Contact.png) no-repeat 0 50%;
	}
	.column_nav ul li a.contact {	
		background: url(panel_images/ICQ.png) no-repeat 0 50%;
	}
	.column_nav ul li a.portfolio {	
		background: url(panel_images/Screenshot.png) no-repeat 0 50%;
	}
	
  .column_nav ul li a img {
  	vertical-align: middle;
  }
  .column_nav ul li.current a,
  .column_nav ul li a.current,
  .column_nav ul li a:hover {
    color: #FFF;
    text-shadow: #2186ff 0 1px 1px;
    text-shadow: blue 0 1px 0px;
    /*background: url(panel_images/column_item.png) repeat-x 0 0 ;*/
  }

.column_content {	
	/*background: url(panel_images/column_content_bg.png) repeat 0 0 ;	*/
}
.column_content h3 {		
	padding: 0 1em;
	background:  url(panel_images/column_item_normal.png) repeat-x 0 0;
	font-size: 2em;
	height: 61px;
	line-height: 61px;	
	color: #000;
	text-shadow: #FFF 0 1px 0px;	
}
.column_content h3 img {
	vertical-align: middle;
}
.column_content h3 strong {
	margin-left: .5em;
}
.column_content p {
	word-wrap:break-word;
	padding: 0 1em;
	font-size: 1.2em;
	line-height: 26px;
	text-indent: 2em;
	color: #666;
	text-shadow: #FFF 0 1px 0px
}


#network ul li {
	/*
	height: 61px;
	line-height: 61px;		
	background:  url(panel_images/column_item_normal.png) repeat-x 0 0;
	height: 61px;
	line-height: 61px;	
	color: #000;
	text-shadow: #FFF 0 1px 0px;	
	text-indent: 1em;
	*/
}
#networks li {
	background:  url(panel_images/column_item_normal.png) repeat-x 0 0;
	color: #000;
	text-shadow: #FFF 0 1px 0px;
}


#networks ul li img {
	vertical-align: middle;
	float: left;
	height: 40px;
	line-height: 61px;	
	-webkit-transition: margin-left 0.25s linear;
	float: left;
	margin: 0px 10px 0px 20px;
	
	display: inline-block;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	
}
#networks ul li a:hover,
#networks ul li a {
	/*
	color: #000;
	text-shadow: #FFF 0 1px 0;
	text-decoration: none;
	*/
	display: block;
	width: 100%;
	height: 45px;
	padding: 10px 0px 5px;
	color: #000;
	text-decoration: none;	
}
#networks ul li a:hover {
	background: rgba(164, 173, 183, 0.148438);
}
#networks li a img {

}
#networks li a strong {
	color: black;
	display: block;
	width: 100%;
	font: normal normal normal 18px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding-top: 2px;	
}


   .tree_mac_panel .panel_middle .left {
     width: 200px; 
     vertical-align: top;
     background: none;
   }

  .tree_div {
    border: 1px solid #CCC;    
    border-right: none;
    background: #fbf5f5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-topleft  : 5px;
    -moz-border-radius-bottomleft : 5px;
    /*
   	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    -moz-box-shadow:5px 2px 6px #000;
    */
    background: #FFF;
    overflow: scroll;
    height: 300px;    
  }

  .tree_mac_panel .panel_top .left {
    width: 210px;
    background: url(panel_images/panel_top_left.png) no-repeat right 0;
  }

  .tree_mac_panel .panel_bottom .left {
    width: 210px;
    background: url(panel_images/panel_bottom_left.png) no-repeat right 0;
  }

  .thumbnail {
    width: 80px;
    height: 110px;
    float: left;
    position: relative;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    /*
    padding: 10px;
    */    
  }
  .thumbnail:hover {
    /*
    -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, .4);
	  -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, .4);
  	box-shadow: 0 0px 10px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0px 10px #1A77E8;
    -moz-box-shadow: 0 0px 10px #1A77E8;
    */
    cursor: pointer;
  }  
  .thumbnail dt img{
  	/*
	  display: inline-block;	  
	  -webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
	  border-radius: 3px;
	  -webkit-box-shadow: 0 0px 7px rgba(0, 0, 0, .4);
	  -moz-box-shadow: 0 0px 7px rgba(0, 0, 0, .4);
  	box-shadow: 0 0px 7px rgba(0, 0, 0, .4);
  	*/
  }
  .thumbnail .item_checkbox {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .thumbnail:hover dt img{
    cursor: url(img/openhand.cur), default !important;
  	/*
    -webkit-box-shadow: 0 0px 10px #1A77E8;
    -moz-box-shadow: 0 0px 10px #1A77E8;
    */
  }
  .thumbnail dt.title {
  	width: 100%;
    height: 42px;
    line-height: 14px;
    font-size: 12px;    
    overflow: hidden;           
    /*margin-left: 10px;*/
  }
  .thumbnail dt.title:hover {
    color: blue;
  }
  .thumbnail dd.summary {
    display: none;
  }
/*
  .thumbnail dt.title a {
    display: block;
    padding-right: 10px;
    overflow: hidden;
    background: url(panel_images/navigation-li-a.png) no-repeat right -30px;
  }
  .thumbnail dt.title a:hover {
    background: url(panel_images/navigation-li-a.png) no-repeat right -60px;
  }

  .thumbnail dt.title span {
    cursor: pointer;
    display: block;
    width: 100%;
    color: #FFF;
    font-weight: bold;
    font-size: 1.4em;
    background:  url(panel_images/navigation-li.png) no-repeat left -30px;
    text-shadow: #666 0px 1px 2px;
  }
  .thumbnail dt.title a:hover span {
    background:  url(panel_images/navigation-li.png) no-repeat left -60px;
  }
*/