.ibtn {
  display: inline-block;
  zoom: 1;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;  
  /*font: 14px/100% 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', Tahoma, 'Hiragino Sans GB', STHeiti !important;*/
  
  font-weight:bold;
  padding: .3em 1.2em .4em;  
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);    
}.ibtn:hover {
  text-decoration: none;
}.ibtn:active {
  position: relative;
  top: 1px; 
}

.bigrounded {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.blue[disabled] {
  color:#FFFFFF;
  border:1px solid #4592AD;            
  background: #319ABF;
}

.blue {
  color:#FFFFFF;
  border:1px solid #4592AD;            
  background: #319ABF;  
  -moz-box-shadow:0 1px 1px rgba(255, 255, 255, 0.4) inset, 0 -1px 0 rgba(255, 255, 255, 0.1) inset, 0 0 0 #0F3E75, 0 0 2px rgba(0, 0, 0, 0.5);  
  background:-moz-linear-gradient(center top , #62C8EC 20%, #319ABF 100%) repeat scroll 0 0 transparent;
  -webkit-box-shadow: rgba(255, 255, 255, 0.398438) 0px 1px 1px inset, rgba(255, 255, 255, 0.0976563) 0px -1px 0px inset, #0F3F75 0px 0px 0px, rgba(0, 0, 0, 0.496094) 0px 0px 2px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.2, #62C8EC), to(#319ABF));      
  -moz-outline-style:none;  
  text-shadow: rgba(0, 0, 0, 0.199219) 0px -1px 0px;
}.ibtn:hover {
  -webkit-box-shadow: rgba(255, 255, 255, 0.0976563) 0px 1px 1px inset, rgba(255, 255, 255, 0.296875) 0px -1px 0px inset, #0F3F75 0px 0px 0px, rgba(0, 0, 0, 0.296875) 0px 0px 5px;
	background: #4EB1D4;
}.ibtn:active {
	-moz-box-shadow:0 5px 5px rgba(0, 0, 0, 0.2) inset, 0 -1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 #0F3E75, 0 0 5px rgba(0, 0, 0, 0.2);
	outline:medium none;
	text-shadow:0 1px 0 rgba(0, 0, 0, 0.5);
}

.orange { 
  color: #fef4e9; 
  border: solid 1px #da7c0c; 
  background: #f78d1d; 
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20)); 
  background: -moz-linear-gradient(top, #faa51a, #f47a20); 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20'); 
}.orange:hover { 
  background: #f47c20; 
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015)); 
  background: -moz-linear-gradient(top, #f88e11, #f06015); 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015'); 
}.orange:active { 
  color: #fcd3a5; 
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a)); 
  background: -moz-linear-gradient(top, #f47a20, #faa51a); 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a'); 
}
