@import url('reset.css');

@import url('ibutton.css');

@import url('istart_home.css');
@import url('api.categorys.css');

body {
  color: #000;
  font: 12px/18px Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
} 


.gfavorite {
  vertical-align: top;
  line-height:16px;
  height: 16px;
  width:16px;
  font-size:12px;  
  line-height:20px;
  margin-top:4px;
}

#scribble{
  background: url(stickynote.jpg) 0 0;  
  padding: 62px;
  border: none;
  width: 280px;
  height: 280px;
  margin-bottom: 10px;
  -webkit-box-shadow:none;
}
.book-meta {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  zoom: 1;
  overflow: hidden;
  border-bottom: 1px dotted #ccc;
  }
  .book-meta dt {
    float: left;
    margin-right: 10px;
  }
  .book-meta dd a:link,
  .book-meta dd a {
    text-decoration: none;
    padding: 1px;
    color: #3F91E1;
  }
  .book-meta dd a:hover {
    background: #3F91E1;
    color: #FFF;
  }

.books-wrap {	
	width: 80%;
	margin: auto;
}
	.books-wrap .books{
		background-color: rgba(0,0,0,0.2);
		padding: 5px;		
		float: left;
		margin-right: 15px;		
		}

	.books-wrap .books:hover{
		background-color: rgba(255,0,0,0.2);
		padding: 5px;		
		float: left;
		margin-right: 15px;		
		}
		.books-wrap .books:hover p {
			background: #FFF;
			padding: 0 5px;
			border: 1px solid red;
		}
		.books-wrap .books p {
			background: #FFF;
			padding: 0 5px;
			border: 1px solid #a0a0a0;
		}
		.books-wrap .books:hover p.thumb {		
			border-bottom:none;			
		}
		.books-wrap .books p.thumb {
			padding-top: 5px;
			border-bottom:none;			
		}
		.books-wrap .books:hover .title {
				border-top:none;
		}
		.books-wrap .books .title {					
			border-top:none;
			font-size: 12px;
			text-align: center;
			line-height: 20px;
			}		
			.books-wrap .books .title a:visited,
			.books-wrap .books .title a {
				width: 100%;				
				display: block;	
				text-decoration: none;
			}
