body {
  font: normal 62.5% Arial,sans-serif
}
body {
	font: 1.2em;
}

#tree_splitter {
	/*
  margin: auto;
  margin-top: 100px;
  width: 800px;
  */
}

#tree_root,
#tree_content {
	/*
  float: left;
  */
  height: 500px;
  background: #D1E3F3;
  border-right: 2px solid #D1E3F3;
  padding: 5px 6px 12px 5px;
}
#tree_root {
	/*
  float: left;
  
  height: 500px;
  width: 300px;
  */

  background: #D1E3F3 url(./images/handle.png) no-repeat right 50%;
}
#tree_content {
  padding-left: 0;
  width: 479px;
}


#tree_content .inner {
  background: #FFF;
  width: 100%;
  height: 100%;
  border: 1px solid #7A98AB;
  border-right: none;
  border-bottom: 1px solid #CCC;
  padding-top: 4px;
}

#tree_root .tree {
  height: 100%;
  width: 100%;
  border: 2px solid red;
  /*
  overflow: auto;
  */
  overflow: hidden;
  background: #FFF;
  border: 1px solid #7A98AB;
  border-right: none;
  border-bottom: 1px solid #CCC;
  padding-top: 4px;
  /*
 	table-layout:fixed;
  */
  }
  #top_tree {
    /*border: 5px solid red;*/
  }
  .tree ul {
  }
  .tree li {
    line-height: 20px;
    padding-left: 14px;
/*    text-overflow:ellipsis;
    overflow: hidden;
 *    */
  }
  .tree>li {
    padding-left: 2px;
  }
  .tree li.open {
    /*tada */
    /*
    background: url(tree/folder-open.gif) no-repeat 0 2px;
    */
  }
/*  .tree span.open , */
  .tree span.fold {
    display: inline-block;
    width: 18px;
    background: url(tree/folder_mac.png) no-repeat 0 50%;
  }
  .tree span.open {
    /*
    background: url(tree/folder-open.gif) no-repeat 0 50%;
    */
  }
  .tree span.fold {
    /*
    background: url(tree/folder.gif) no-repeat 0 50%;
    */
  }
  .tree li.fold {
    /*
    background: url(tree/folder.gif) no-repeat 0 2px;
    */
    }
    .tree li.fold ul {
      display: none;
    }
    .tree li span.f_open,
    .tree li span.f_fold {
      
      /*
      padding: 3px;
      margin-right: 2px;*/
      padding:3px 0 0 2px;      
      cursor: pointer;
      
    }
    
    .tree li span.f_open {
      background: url(tree/f_open.gif) no-repeat 0 50%;
      background: url(tree/tree_down_gray.png) no-repeat 0 50%;
      background: url(tree/treeDownBlack.png) no-repeat 0 80%;
    }
    .tree li span.f_fold {
      background: url(tree/f_fold.gif) no-repeat 0 50%;
      background: url(tree/tree_forward_gray.png) no-repeat 0 50%;
      background: url(tree/treeRightTriangleBlack.png) no-repeat 0 80%;
    }
    
    
    .tree li span.f_open:hover {      
      background-image: url(tree/treeDownBlue.png);
    }
   
    .tree li span.f_fold:hover {   
      background-image: url(tree/treeRightTriangleBlue.png);
    }
   
    .tree li span.leaf {
      /*
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      line-height: 20px;
      height: 20px;
      
    -moz-user-select: none;
    -khtml-user-select: none;
    */
      padding: 2px 5px 2px 5px;
      cursor: pointer;
    }
    .tree li span.leaf:hover {
      color: #FFF;
      /*
      border: 1px solid #B00411;
      */
      background: url(tree/leaf-hover.gif) repeat-x 0 0;
    }
    .tree li span.touch {           
      background: purple;
      color: #FFF;
    }
    .tree li span.current {
      color: #FFF;
      /*
      border: 1px solid #2E91C6;
      */
      background: url(tree/leaf-current.gif) repeat-x 0 bottom;
    }
    .tree li a{
    }


