@import url('reset.css');
@import url('evil.css');
@import url('grid.css');
@import url('layout.css');
@import url('api.categorys.css');
@import url('api.attachment.css');
@import url('pagination.css');
body {
  font-size: 14px;
  font-family: arial,sans-serif;
  min-width: 800px;
  background: #FAF9F8;
  color: #5A5F64;
}
a:visited,
a {
  color: #5A5F64;
}

#w_top li {
  display: inline;
  line-height: 20px;
  height: 20px;
}
  #w_top li a:visited,
  #w_top li a {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    color: #5A5F64;
    color: #FFF;
  } 
  #w_top li.select a,
  #w_top li a:hover {
    background: #EDF0F9;
    background: #E9E7E5;
    color: #000;
    border-radius: 15px !important;
  } 

.control_tree,
div.location a,
div.location a:visited,
.action:visited,
.action_normal,
.action,
.toggle,
.item-all {
  cursor: pointer;
  text-decoration: none;
  padding: 0 5px;
  line-height: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  margin-top: 3px;
  text-indent: 0;
}

div.location a,
div.location a:visited {
  margin-right: 0;
}
.action:visited,
.action {
  float: left;
}

.action_normal:hover ,
div.location a:hover ,
.action:hover {  
  border-radius: 4px 4px 4px 4px !important;
  background: none repeat scroll 0 0 #888685 !important;
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.7), 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  color: #FBF8F6 !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
  text-decoration: underline;
  text-decoration: none;
}

.control_tree.focus,
#w_search .on , 
#w_location .on { 
  border-radius: 4px 4px 4px 4px !important;
  background: none repeat scroll 0 0 #888685 !important;
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.7), 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  color: #FBF8F6 !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
}

.settings {
  position: relative;
  float: left;
  top: -1px;
}
.settings div {
  display: none;
  position: absolute;
  left: 0;
  width: 200px;
  background: #FFF;
  border:2px solid #EFEFEF;  
  background: none repeat scroll 0 0 #FFFFFF !important;
  border: 1px solid #CCC;
  border-radius: 4px 4px 4px 4px !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) !important;
  z-index: 1009 !important;
}
.settings div ul li a:visited,
.settings div ul li a,
.settings div ul li {
  line-height: 24px;
  color: #000;
  white-space: nowrap;
  text-decoration: none;
}
.settings div ul li.iline {
  height:1px;
  background: #CCC;
} 
.settings div ul li a {
  text-indent: 2em;
  display: block;
}
.settings div ul li a:hover {
  background: #000;
  color: #FFF;
}
.settings div ul li a.menu-top:hover { 
  border-radius: 4px 4px 0 0px !important;
}

.settings div ul li a.menu-bottom:hover {
  border-radius: 0 0 4px 4px !important;
}

.settings .handle {
  cursor: pointer;
  background: url(/images/setting.png) no-repeat 0 0;
  display: inline-block;
  width: 18px;
  height: 16px;
  margin-top: 4px;
  text-indent: -111000px;
}

.mac_panel_wrap {
  border: 6px solid #CCC;
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
  border: 8px solid rgba(0,0,0,0.3);
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 1000000;
  background: #FFF;
  border-radius: 4px;
}


#w_middle {
/*  border-top: 1px solid #939494; */
}
#w_right {
  border-left: 1px solid #939494;
}

.itext,
.ipwd,
.search_input {
  border: 1px solid #666;
  padding: 4px 2px;
  border-color: #666 #CCC #CCC #666;
  width: 300px;
}
.search_input {
  padding: 2px;
  width: 200px;
}
.itext.w100P {
  width: 100px;
}
.itext.w100S {
  width: 99%;
}
.isubmit {
  /*border: 1px outset #CCC;*/
  font-size: 14px;
  font-weight: bold;
  padding: 3px 10px;
  /*
  padding: 5px 20px;
  */
  cursor: pointer;
}.isubmit:hover {
/*  border: 1px inset #CCC; */
}.isubmit:active {
/*
 * border: 1px outset #F36; 
  background: #C36;
  color: #FFF;
 * */
}

.search_input {
  margin: 1px;
}
.search_input:focus {
  margin: 0px;
  border: 2px solid #73A6FF;
}




.flash_suc,
.feedback_suc,
.feedback_on,
div.errorSummary ,
.note {
  color: #c36;
  font-weight: bold; 
  line-height: 24px;
  text-indent: 20px;
}
div.errorSummary {
  display: none;
}
.flash_suc,
.feedback_suc,
.feedback_on {
  color: green;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #E5E5E5;
  background: #ffffcc;
  margin-bottom: 10px;
}
span.required,
div.errorMessage,
div.errorSummary {
  color: #c36;
}
div.errorSummary ul {
  padding: 0;
  margin-left: 20px;
}
div.errorSummary ul li {
  padding: 0;
  margin: 0;
}



.channel_ul {
  margin-top: 20px;
}
.channel_ul li {
  line-height:20px;
}
.channel_ul li a:visited ,
.channel_ul li a {
  padding: 2px 0;
  color: #131313;
  display: block;
  width: 100%;
  text-indent: 20px;
  line-height: 20px;
  height: 20px;
  text-decoration: none;
}
.channel_ul li a:hover {
  background: #E3E9FF;
}
.channel_ul li a.select {
  background: #BCF;
  font-weight: bold;
}

.to_dest a:visited,
.to_dest a {
  color: #000;
  width: 100%;
  display: inline-block;
  height: 100%;
  line-height: 100%;
}
.to_dest p.select {
  background: #BCF;
  font-weight: bold;
}

#tree_left.show {
  position: absolute;
  background:#FFF;
  top:26px;
  left: 1px;
  border:4px solid #EDF0F9;
  border-top: none;
  width:500px;
  height: 400px;
  overflow: auto;
  z-index:10000000;
  margin-left:10px; 
  background: #FFF;
  background: none repeat scroll 0 0 #FFFFFF !important;
  border: 1px solid #CCC;
  border-radius: 4px 4px 4px 4px !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) !important;
  z-index: 1009 !important;
}


.mceStatusbar.mceFirst.mceLast {
  line-height: 16px;
}
