@import url('reset.css');
@import url('evil.css');
@import url('grid.css');
@import url('layout.css');
@import url('api.categorys.css');
@import url('api.attachment.css');
@import url('pagination.css');
body {
  font-size: 14px;
  font-family: arial,sans-serif;
  min-width: 800px;
  background: #FAF9F8;
  color: #5A5F64;
}
a:visited,
a {
  color: #5A5F64;
}

#w_top li {
  display: inline;
  line-height: 20px;
  height: 20px;
}
  #w_top li a:visited,
  #w_top li a {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    color: #5A5F64;
    color: #FFF;
  } 
  #w_top li.select a,
  #w_top li a:hover {
    background: #EDF0F9;
    background: #E9E7E5;
    color: #000;
    border-radius: 15px !important;
  } 

.control_tree,
div.location a,
div.location a:visited,
.action:visited,
.action,
.toggle,
.item-all {
  cursor: pointer;
  text-decoration: none;
  padding: 0 5px;
  line-height: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 5px;
  margin-top: 3px;
  text-indent: 0;
}

div.location a,
div.location a:visited {
  margin-right: 0;
}
.action:visited,
.action {
  float: left;
}

div.location a:hover ,
.action:hover {  
  border-radius: 4px 4px 4px 4px !important;
  background: none repeat scroll 0 0 #888685 !important;
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.7), 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  color: #FBF8F6 !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
  text-decoration: underline;
  text-decoration: none;
}
.wrap_cld {
  text-indent: -10000px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  background: url(bgs/cld.png) no-repeat -120px top;
}
.wrap_cld:hover {
  background: url(bgs/cld.png) no-repeat -120px -10px;
}

.control_tree.focus,
#w_search .on , 
#w_location .on { 
  border-radius: 4px 4px 4px 4px !important;
  background: none repeat scroll 0 0 #888685 !important;
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.7), 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  color: #FBF8F6 !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
}

.settings {
  position: relative;
  float: left;
  top: -1px;
}
.w_settings  { 
  display: none;
}
.settings .w_settings { 
  position: absolute;
  top: 18px;
  left: -95px;
  width: 200px;
  z-index: 1009 !important;
}
.settings .w_settings div { 
  background: url(bgs/square.gif) repeat 0 0;
  background: url(bgs/square.png) repeat 0 0;
  border-radius: 5px;
  /*
  box-shadow: 0 0 5px #666;
  -webkit-box-shadow: 0 0 5px #666;
  -moz-box-shadow: 0 0 5px #666;
  */
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px;
}
#w_tree_wrap {
  position: absolute;
  top:26px;
  right: 10px;
  width:500px;
  z-index: 1009;
  z-index:10000000;
}

#w_tree_wrap #top_tree {
  background: #FFF;
  overflow: auto;
  height: 440px;
  margin-bottom: 0px;
}


#w_tree_wrap p.signal,
.settings .w_settings p {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 90px;
  background: url(bgs/arrow.gif) repeat 0 0;
  background: url(bgs/arrow.png) repeat 0 0;
}
#w_tree_wrap p.signal {
  margin-left: 450px;
}

.settings .w_settings ul {
  background: #FFF;
}
.settings div ul li a:visited,
.settings div ul li a,
.settings div ul li {
  line-height: 24px;
  color: #000;
  white-space: nowrap;
  text-decoration: none;
}
.settings div ul li.iline {
  height:1px;
  background: #CCC;
} 
.settings div ul li a {
  text-indent: 2em;
  display: block;
}
.settings div ul li a:hover {
  background: #E3E9FF;
}
.settings .handle {
  cursor: pointer;
  background: url(/images/setting.png) no-repeat 0 0;
  display: inline-block;
  width: 18px;
  height: 16px;
  margin-top: 8px;
  text-indent: -111000px;
}

#w_tree_wrap .w_inner,
.mac_panel_wrap {
  z-index: 1000000;
  padding: 5px;
  background: url(bgs/square.gif) repeat 0 0;
  background: transparent url(bgs/square.png) repeat 0 0;
  border-radius: 5px;
  box-shadow: 0 0 5px #666;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #666;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 0 5px #666;
}

.wrap_footer {
  background:#FFF;
}
.panel_inner {
  background: #FFF;
  border: 1px solid #666;
}

#w_middle {
/*  border-top: 1px solid #939494; */
}
#w_right {
  border-left: 1px solid #939494;
}

.itext,
.ipwd,
.search_input {
  border: 1px solid #666;
  padding: 4px 2px;
  border-color: #666 #CCC #CCC #666;
  width: 300px;
}
.search_input {
  padding: 2px;
  width: 200px;
}
.big_search_input {
  padding: 4px;
  width: 400px;
}
.itext.w100P {
  width: 100px;
}
.itext.w100S {
  width: 99%;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}
.isubmit {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #676563 ;
  background: -moz-linear-gradient(center top , #FFFEFC, #F6F4F2 10%, #E9E7E5 90%, #DFDDDB) repeat scroll 0 0 transparent !important;
  border: 1px solid #CBC9C7;
  border-radius: 12px;
  box-shadow: 0 1px 0 #FFFFFF;
  padding: 2px 16px;
  text-shadow: 0 1px 0 #FFFFFF;
  outline:0;
}.isubmit:hover {
  color: #5d5b59;
  background: -moz-linear-gradient(center top , #F6F4F2, #ECEAE8 10%, #DFDDDB 90%, #D5D3D1) repeat scroll 0 0 transparent !important;
  border: 1px solid #B7B5B3;
}.isubmit:active {   
  background: -moz-linear-gradient(center top , #CECCCA, #C4C2C0 10%, #ADABA9 90%, #999795) repeat scroll 0 0 transparent !important;
  border: 1px solid #7B7977;
  box-shadow: 0 1px 0 #FFFFFF, 0 2px 5px rgba(0, 0, 0, 0.698) inset;
  color: #555555;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.search_input {
  margin: 1px;
}
.search_input:focus {
  margin: 0px;
  border: 2px solid #73A6FF;
}

.image_border {
  border: 1px solid #313131;
  padding: 1px;
}


div.errorSummary ,
.note {
  color: #c36;
  font-weight: bold; 
  line-height: 24px;
  text-indent: 20px;
}
div.errorSummary {
  display: none;
}
.flash_suc,
.feedback_suc,
.feedback_on {
  color: green;
  font-size: 16px;
  padding: 15px 20px;
  border: 5px solid #E5E5E5;
  background: #ffffcc;
  position: absolute;
  z-index: 1000000;
  display: hide;
}
span.required,
div.errorMessage,
div.errorSummary {
  color: #c36;
}
div.errorSummary ul {
  padding: 0;
  margin-left: 20px;
}
div.errorSummary ul li {
  padding: 0;
  margin: 0;
}



.channel_ul {
  margin-top: 20px;
}
.channel_ul li {
  line-height:20px;
}
.channel_ul li a:visited ,
.channel_ul li a {
  padding: 2px 0;
  color: #131313;
  display: block;
  width: 100%;
  text-indent: 20px;
  line-height: 20px;
  height: 20px;
  text-decoration: none;
}
.channel_ul li a:hover {
  background: #E3E9FF;
}
.channel_ul li a.select {
  background: #BCF;
  font-weight: bold;
}

.to_dest a:visited,
.to_dest a {
  color: #000;
  width: 100%;
  display: inline-block;
  height: 100%;
  line-height: 100%;
}
.to_dest p.select {
  background: #BCF;
  font-weight: bold;
}

.orgin_thumbnail,
.orgin_thumbnail {
  display: inline-block;
  padding: 4px ;
}
.dest_thumbnail img,
.orgin_thumbnail img {
  padding: 1px;
  border: 1px solid #313131;
  border-color: #313131 #313131 #131313 #131313;
  height: 48px;
}

.pick {
  cursor: pointer;  
}
.pick:hover {
  color: #73A6FF;
}

.origin_collect,
.dest_collect,
.dest_thumbnail,
.orgin_thumbnail {
  position: relative;    
}

.unlink_default,
.unlink_dest ,
.unlink_default {
  position: absolute;
  top: 0px;
  right: 0;
  width: 14px;
  height: 14px;
  background:  url(bgs/close_a.png) no-repeat;
  text-indent: -10000px;
  cursor: pointer;  
}

.unlink_mul_collect,
.unlink_default_collect,
.unlink_collect {  
  width: 14px;
  height: 20px;
  display: inline-block;
  background:  url(bgs/close_a.png) no-repeat 0 50%;
  text-indent: -10000px;
  cursor: pointer;  
}

.reset_default_collect,
.reset_default{
  position: relative;
  width: 20px;
  height: 16px;
  background: url(bgs/reset.png) no-repeat;
  text-indent: -100000px;
  cursor: pointer;
}

.unlink_dest:hover ,
.unlink_default:hover {
  background: url(bgs/close_a.png);
}


.mul_collect,
.dest_mul_collect,
.origin_collect,
.dest_collect,
.orgin_thumbnail,
.dest_thumbnail {
  float: left;
  text-align: center;
  padding: 5px;
  margin-right: 10px;
  position: relative;
}
.mul_collect,
.dest_mul_collect,
.origin_collect,
.dest_collect {
  padding: 0 5px;
  line-height: 20px;
  margin: 5px  10px 5px 0;
}

.mul_collect,
.origin_collect {
  border: 1px solid green;
  margin-left: 4px;
}
.orgin_thumbnail img {
  border: 1px solid green;
  padding: 1px;
}

.dest_mul_collect,
.dest_collect {
  border: 1px solid #73A6FF;
}
.dest_thumbnail img {
  border: 1px solid #73A6FF;
  padding: 1px;
}

.mul_collect,
.dest_mul_collect {
  text-align: left;
}

.dest_gallery_close,
.dest_thumbnail_close {
  position: absolute;		
  top: 0;
  right: 0;	
	display: block;
	height:20px;
	width:20px;	
	cursor: pointer;
}
.dest_gallery_close:hover,
.dest_thumbnail_close:hover {
  background: #CCC;
  color: red;
}

.exchange_symbol {
  float: left;  
  margin-right: 10px;  
}
.orgin_thumbnail p,
.dest_thumbnail p {   
}
.stared,
.unstared {
  color: red;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: blue;
  background: url("bgs/entry-action-icons.png") no-repeat scroll 0 -160px transparent;
  text-indent: -10000em;
}    
.stared {
  background-position: -17px -160px;
}
  .att_pick_ul {    
    text-align: center;     
    width: 546px;
    margin: auto;
  }
  .atm_photos .att_pick_li div {    
    height: 118px;  
    margin-bottom: 1px;
  }
  
  .att_pick_li span {
    width: 130px;
    height: 16px;
    display: block;
    margin: auto;    
    overflow: hidden;
  }

.mceStatusbar.mceFirst.mceLast {
  line-height: 16px;
}
