ul.api_categorys_ul{
  width:100%;
  margin-bottom: 20px;
}
ul.api_categorys_ul li p {    	
  color:#000;
  padding: 0;
   /*
  padding: 3px 0px 1px;  
  height: 26px;
  line-height: 26px;
  padding: 5px 0px 5px;
  font-size: 14px;
  cursor: pointer;    
  border: none;
  */
  /*
  border:solid 1px #c3e2fd;  
  background-color:#FFF;    
  background: #FFF;
  background-position:0px 0px;
  background-repeat:repeat-x;
  border-color: none;
  border-color: rgba(118,157,192,0);
  background-color: rgba(171,214,255,0);
  -webkit-transition-property:background-color, border-color;
  -webkit-transition-duration:.25s ;
  -webkit-transition-timing-function: ease-out;    
  */
}

/*
ul.api_categorys_ul li p:hover {  
  background: #E3E9FF;
}
ul.api_categorys_ul li p:active {
  background: #CCC;
}
*/
ul.api_categorys_ul li p.select {
  background: #BCF;
  font-weight: bold;
}
ul.api_categorys_ul .f_open,
ul.api_categorys_ul .f_fold {
  background: url(api_categorys_img/treeExpandImages.png);
	background-position: -35px 0px;
  background-position: -470px 0;
	height: 16px;
	width: 16px;	
	line-height: 16px;	
	display: inline-block;
}
ul.api_categorys_ul .stand {
  height: 16px;
	width: 16px;	
	line-height: 16px;	
	display: inline-block;
}

/*
ul.api_categorys_ul .f_fold{
  background-position: 1px 0px;
}
ul.api_categorys_ul .f_fold:hover {
  background-position: -17px 0px;    	
}
ul.api_categorys_ul .f_open:hover {
  background-position: -53px 0px;
}
*/

ul.api_categorys_ul span.open,
ul.api_categorys_ul span.fold{
  background: url(api_categorys_img/commonIconsObjActEnabled.png) no-repeat -464px 50%;
  height: 16px;
	width: 16px;
  line-height: 16px;
  display: inline-block;
}
ul.api_categorys_ul span.leaf {
  display: inline-block; 
  /*
  height: 12px;
  line-height: 12px;  
  overflow: hidden;
  */
  text-indent: 0;
  text-overflow: ellipsis;  
}

ul.api_categorys_ul span.open {    	
  background-position: -480px 50%;
}


/*
* the chapters in the category tree css
*/
ul.api_chapters_ul {  
  font-size: 14px;
  width: 100%;
  line-height: 24px;
  }

  ul.api_categorys_ul li a,
  ul.api_chapters_ul li a:visited,
  ul.api_chapters_ul li a:active,	
  ul.api_chapters_ul li a {	    
    width: 95%;      
    padding-right: 5%;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: #005ddb;
    color: #818181;
    height: 24px;
    line-height: 24px;
    height: 24px;
    overflow: hidden;    		
    text-overflow: ellipsis;
  }
  ul.api_categorys_ul li a:hover,
  ul.api_chapters_ul li a:hover {	 
    color: #63284D;
    background: #FFFFCC;
    -webkit-transition-property:background-color, border-color;
    -webkit-transition-duration:.25s ;
    -webkit-transition-timing-function: ease-out; 
  }
  ul.api_chapters_ul li a.current {
    color: #913e96;			      		      		
    z-index: 100004;      		          		
    background: #C1C1C1;       
  }
