#w_top{
  height: 24px;
  line-height: 24px;
  border-bottom: 1px solid #ccc;
  padding-left: 8px;
}


#w_search{
  padding-left: 5px;
}
#attachment_form,
.w_adv_search{
  padding: 10px;
  padding-left: 20px;
  margin-left: 4px;
  /*
  background: -moz-linear-gradient(center top , #EFEDEB, #F4F2F0 30%, #F9F7F5 95%, #FFFFFF) repeat scroll 0 0 transparent !important;
  border-color: rgba(255, 255, 255, 0.698) -moz-use-text-color -moz-use-text-color !important;
  border-radius: 0 0 0 0 !important;
  */
  border: 1px solid #939494;
  line-height: 1.5em !important;
}
#attachment_form {
  margin-top: 10px;
  margin-left: 10px;
}
#w_search form {
  margin: 2px 0 0 0;
} 

#w_middle{
  
  } #w_location { 
    color: #00C;
    text-decoration: none;
    background: -moz-linear-gradient(center top , #FFFEFC, #F6F4F2 10%, #E9E7E5 90%, #DFDDDB) repeat scroll 0 0 transparent !important;
    color: #646464 !important;
    display: block !important;
    font-size: 14px;
    height: 26px ;
    line-height: 26px;
    margin-left: 0 ;
    border-bottom: 1px solid #C8C8C8;
  }*  html #w_location { 
    margin-left: -3px;
  } #w_action {
    height: 30px;
    line-height: 30px;  
    border-bottom: 1px solid #F0EEEC !important;
  } #w_left,
    .w_left{
    width: 240px;
    vertical-align: top;
    /*padding-left: 10px;*/
  } #w_right{
    vertical-align: top;
  }
  #w_content {
    clear: both;
  }
  #w_search {
    line-height: 26px;
    height: 26px;
   /* border-bottom: 1px solid #C8C8C8;*/
  }

#w_content {
  position: absolute;
  right: 0;
  top: 56px;
  padding: 1px;
}
#w_content .list  {
  width: 100%;
}
#w_content .list tr th {
  line-height: 28px;
  /*
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #CCCCCC;   
  background: -moz-linear-gradient(center top , #FFFEFC, #F6F4F2 10%, #E9E7E5 90%, #DFDDDB) repeat scroll 0 0 transparent !important;
  border-top: 1px solid #C8C8C8;
  border-bottom: 1px solid #C8C8C8;
  */
  border-bottom: 1px solid #F0EEEC;
  color: #646464;
}
#w_content .list tr td {
  line-height: 28px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #F0EEEC;
  background: #FAFAFA;
}
#w_content .list tr td a:visited,
#w_content .list tr td a {
  text-decoration: none;
}
#w_content .list tr.select td {
  background: #FFFFCC;
} 


.iform .itable th ,
.iform .itable td {
  line-height: 28px;
  border-bottom: 1px solid #efefef;
  vertical-align: top;
}

form .itable tr.focus {
  background: #ffffcc;
}
.iform .itable th {
  text-align: right;
  padding-right: 10px;
  color: #36c;
  font-weight: normal;
}

.iform .itable td label {
  display: inline-block;
  width: 100px;
}
