#w_top{
  height: 24px;
  line-height: 24px;
  border-bottom: 1px solid #ccc;
}

#w_search{
}
#w_search form {
  margin: 10px 0;
} 

#w_middle{
  
  } #w_location { 
    line-height: 24px;
    height: 24px;
  }*  html #w_location { 
    margin-left: -3px;
  } #w_action {
    height: 30px;
    line-height: 30px;
  } #w_left,
    .w_left{
    width: 240px;
    float: left;
  } #w_right{
    margin-left: 240px;
  }
  #w_content {
    overflow: hidden;
    height: 1%;
  }
