#w_location {
  color: #00C;
  text-decoration: none;
    background: -moz-linear-gradient(center top , #FFFEFC, #F6F4F2 10%, #E9E7E5 90%, #DFDDDB) repeat scroll 0 0 transparent !important;
    border-top: 1px solid #FFFFFF;
    color: #646464 !important;
    display: block !important;
    font-size: 12px;
    height: 25px !important;
    line-height: 26px !important;
    margin-left: 0 !important;
    padding-top: 1px !important;
    border-bottom: 1px solid #C8C8C8;
}

#w_action {
  border-bottom: 1px solid #F0EEEC !important;
}

#w_content .list  {
  width: 100%;
}
#w_content .list tr th {
  line-height: 28px;
}
#w_content .list tr td {
  line-height: 26px;
  background: #edf0f9;
  border-bottom: 1px #CCC solid;
}

#w_content .list tr.select td {
  background: #FFFFCC;
} 


.iform .itable th ,
.iform .itable td {
  line-height: 28px;
  border-bottom: 1px solid #efefef;
  vertical-align: top;
}

form .itable tr.focus {
  background: #ffffcc;
}
/*

* html .iform .itable th ,
* html .iform .itable td {
  line-height: 30px;
}
*/

.iform .itable th {
  text-align: right;
  padding-right: 10px;
  color: #36c;
  font-weight: normal;
}

.iform .itable td label {
  display: inline-block;
  width: 100px;
}
