@import url('../reset.css');
@import url('../evil.css');

body {
  color: gray;
  background: #131313 url(images/bg.gif) repeat 0 0;  
  font-size: 14px;  
  font-family:  tahoma ;
  /*"Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important !important;*/
}
h1 { font-size: 160%; line-height: 180%; }
h2 { font-size: 150%; line-height: 180%; }
h3 { font-size: 140%; line-height: 180%; }
h4 { font-size: 130%; line-height: 180%; }
h5 { font-size: 120%; line-height: 180%; }
h6 { font-size: 110%; line-height: 180%; }

#pane1 {
  height: 300px;
}

#page {
  width: 800px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 50px;  
}
#site-title {
  background: url(images/ape_person.png) no-repeat right 0;
  text-indent: -100000px;
  margin-bottom: 20px;    
  height: 56px;  
}
#map {  
  text-align: right;
  padding: 5px;
  }
  #map a {  
    display:inline-block;
    height: 31px;
    width: 27px;
    background: url(images/map_green.png) no-repeat 0 0;
    text-indent: 100000px;
    overflow: hidden;
  }
  #map a:hover {  
    background: url(images/map_pink.png) no-repeat 0 0;
  }
  
#article_wrap {
  background: #131313 url(images/bg3.gif) repeat 0 0;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px  10px 50px 14px;  
  height: 300px;  
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: auto;
  }  
  #article_wrap h1.title {    
    color: #85DF00;   
    text-shadow: 0px 1px 1px #000;
  }
  #article_wrap h1.title span {  
    /*border-bottom: 1px dotted #666666;*/
  }
  #post_time {
    
  }
  #post_time span {      
    display: block;    
  }
  #post_time {    
    color: #333;
    text-align: right;
    position: absolute;
    right: 10px;
    top:20px;
  }
  
#article {
  width: 100%;
  height: 100%;;;
  background: #131313 url(images/bg3.gif) repeat 0 0;
  color: #D62063;  
  /*
  padding: 10px 0 10px 25px;  
  position: relative;    
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-overflow: ellipsis;
  height: 400px;
  width: 600px;
  
  overflow: auto;
  */
  }
  #article a:visited,
  #article a {    
    color: #85DF00;   
    text-decoration: none;    
  }
  #article a:hover {
    color: #FFF;
    background: #D62063;
  }
  #article img {    
    max-width: 540px;
    padding: 4px;
    border: 1px solid #191919;        
  }    
  #article #next ,
  #article #prev {
    position: absolute;
    top: 45%;
  }  
  #article #prev {
    left: 5px;
  }
  #article #next {
    right: 5px;
  }
    #article #prev a,
    #article #next a {      
      display: block;
      height: 20px;
      line-height: 20px;
      width: 10px;
      color: #85DF00;
      font-size: 20px;
      text-decoration: none;
    }
    #article #prev a:hover,
    #article #next a:hover {
      color: #D62063;
      background: none;
    }
 
  
  #article p {
    line-height: 180%;    
    margin-bottom: 14px;
  }
  
  /*
  #article #post_time span {      
    display: block;
    border-bottom: 1px solid #191919;
  }
  #article #post_time {    
    border-top: 1px solid #0E1216;
    color: #333;
    text-align: right;
  }
  */
  #map_wrap ul li:first-child {
    border-top: none;
  }
  #map_wrap ul li:last-child {
    border-bottom: none;
  }
  #map_wrap ul li {
    line-height: 30px;
    border-bottom: 1px solid #0E1216;
    border-top: 1px solid #222;
    }
    #map_wrap ul li a {
      color: #85DF00;
      text-decoration: none;
    }
    #map_wrap ul li a:hover {
      color: #D62063;
    }