body {
  background: url(images/bg.jpg) no-repeat 50%  bottom;  
  background: #000 url(images/fundo.gif) repeat 50%  bottom;  
  color: #000;
  font: 12px/18px Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
} 

#wrap {
  width: 750px;
  margin: auto;
  /* 160 120 */
  margin-top: 100px;
}
#vlightbox {  
  zoom:1;
  overflow: hidden;
  width: 400px;
  margin: auto;
}

#vlightbox div.a_wrap {
  height:130px;
}

#vlightbox a {
  text-align: center;
}
#vlightbox a img {
  border: 3px solid transparent;
}

#vlightbox a:hover img {
  border: 3px solid #AF1D5C;
}



div.img_wrap {
  margin: 0;
  padding: 0;
  float: left;
  background: url(images/cel-bg.gif) repeat;
/*  background: #000 url(images/cel-bg.gif) repeat; */
  margin-bottom: 5px;
  margin-right: 10px;
  width: 172px;
  text-align: left;  
}
div.img_wrap p {
  margin: 0;
  padding: 0;
  width: 160px;
  color: #CCC;
  padding-left: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #AA0066;
  color: #ccc;
  line-height: 24px;
  height: 24px;
}


#foot {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  background: #000 url(images/foot.jpg) no-repeat 0 0;
  position: relative;
  }
  #w3c {
    background: #000;
    color: #FFF;
    background-color: #121212;
    color: #666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-style: italic;
    padding: 5px;
    position: absolute;
    z-index: 2;
    right: 15px;
  }
  #w3c a, #w3c a:visited {
    color: #666;
    text-decoration: none;
  }
  #w3c a:hover {
    color: #F06;
    text-decoration: underline;
  }
  
