@import url('reset.css');
@import url('grid.css');
@import url('evil.css');
@import url('form.css');
@import url('itable.css');
@import url('ibutton.css');
@import url('ibtn.css');


a:link, a:visited, a:active {
  color: #636a86;
  text-decoration: none;
}
a:hover {
  color: #636a86;
  text-decoration: underline;
  color: #1082c2;
}

.note {
  padding: 8px;
  background: #FFC;
  font-weight: bold;
  border-bottom: 1px solid #CCC;
  color: #8C0505;
}

.node-memo {
  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  padding: 5px 20px 5px 20px;
}

body {
  background: #CCC url(bgs/gbg.png) repeat 0 0;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;  
  font-size: 12px;
  -webkit-text-size-adjust: none;
}
.ibg {
  background: url(bgs/bg.png) repeat 0 0;
}
#header {    
  height: 60px;
  background: url(bgs/gnav.png) repeat-x 0 0px;
  position: fixed;
  width: 100%;
  z-index: 1000000;
  left: 0;
  top: -1px;
  }#header h1 {
    padding-top: 8px;  
  }

.nav {
  height: 80px;
  height: 60px;
  text-align: right;
  }.nav ul {
    list-style: none;
  }.nav ul li {  
    display: inline-block;
    height: 52px;
  }.nav ul li a {
    display: block;
    font-weight:bold;
    text-decoration: none;
    height: 100%;  
    line-height: 50px;
    padding: 0 20px;
    color: #515151;
    background: transparent url('bgs/ihover.png') no-repeat 0 -999px;  
  } .nav ul li:hover {
    background-position: left -132px;
    background: url('bgs/ihover.png') no-repeat 0 0px;  
  }.nav ul li:hover a {
    background-position: right -33px;
    background: url('bgs/ihover.png') no-repeat right 0px;
  }

.signin_wrap {
  position: relative;
  }.signin_user_menu {
    position: absolute;
    border-bottom: 1px solid #ccc;
    }.nav .signin_user_menu li {
      width: 120px;
      height: 30px;
      display: block;
      background-color: #FFF;
      }.nav .signin_user_menu li a ,
        .nav .signin_user_menu li a:hover {
          border-left: 1px solid #ccc;
          border-top: none;
          border-bottom: none;
          text-align: left;
          text-indent: 20px;
          padding: 0;
          height: 30px;
          line-height: 30px;
          background-color: #FFF;
        }.nav .signin_user_menu li a:hover {
          background:#FFF url('bgs/ihover.png') no-repeat right 0px;
        }

#footer {
  border-top: 1px solid #CCC;  
  background: #fff url(bgs/gbg.png) repeat 0 0;
  color: gray;  
  padding: 20px 0;
}
.copyfight a {
  font-weight: bold;  
}

.main_wrapx {  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 2px solid white;
  zoom: 1;
  display: block;
  margin-bottom: 20px;
}

.main_wrap{  
  margin-bottom: 20px;
}


/*sidebar start */
.block_wrap ,
.side-box ,
.newest-node {
  background: #FFF;  
  } .block_wrap h1 ,
    .side-box .panel-title,
    .newest-node .panel-title,
    .side-box .panel-title h1,
    .newest-node .panel-title h1 { 
      font-size: 14px; 
      color: #696969;
      background: #FFF url(bgs/title-bg.jpg) repeat-x 0 50%;    
    } .block_wrap h1,
      .side-box h1,
      .newest-node h1 {
        padding: 10px;    
      } .newest-node a {
        color: #636A86;
        line-height: 14px;
        padding: 2px;
        margin: 2px;
        display: inline-block;  
      }.newest-node a:hover {
/*        text-decoration: none;*/
/*        color: #fff; */
/*        background-color: #1082c2;  */
      }
/*sidebar end */
.iline {
  height: 1px;
  border-bottom: 1px solid #E2E2E2;
}
.author_warp {
  width: 50px;
}.author_warp a {
  display: block;
  text-align: center;
  background-color: white;
}.author_warp a img {
width: 48px;
padding: 2px;
vertical-align: middle;
}

.index_articles_wrap {
  margin-bottom: 20px;
  clear: both;
  }.author_wrap {    
  display: block;
  text-align: center;  
  margin-top: 4px;
  background-color: white;
  width: 52px;
  float:left;
  }.author_wrap img {    
  width: 48px;
  padding: 1px;
  border: 1px solid #aaa;
  vertical-align: middle;
  }.author_wrap:hover img {    
    border: 1px solid #696969;
  }
.item_box {
  position: relative;
  z-index: 9999;
  margin-left: 58px;
  }.item_arrow {
  background: url(bgs/arrow.png) no-repeat right 0;
  float: left;
  width: 15px;
  height: 21px;
  position: relative;
  top: -5px;
  z-index: 10000;
  }.item_top {
  background: url(bgs/wrap_top.png) no-repeat 9px 0;
  height: 14px;
  }.item_bottom {
  background: url(bgs/wrap_bottom.png) no-repeat 9px 0;
  height: 26px;
  }.item_content {
    background: url(bgs/wrap_cont.png) repeat-y 9px 0;
  }

.t_ar_arrow {
  background: url(bgs/t_arrow.png) no-repeat right 0;
  background-position:3px 30px;    
}
.ar_content_wrap {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;  
  vertical-align: top;
  margin-left: 12px;
  background: #FFF;
}

.item_ar_title {
  padding: 0 25px;
}
.item_ar_title a:hover {
  text-decoration: underline;
}
.reply_count {
  position: relative;
  top: -10px;
  right: 1px;  
}

.reply_count a {
  line-height: 12px;
  font-weight: bold;
  color: #636A86;
  padding: 5px;
  background-color: #efefef;
  display: block;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 0;  
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius: 0;
  -o-border-top-left-radius: 0px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -o-border-bottom-right-radius: 0px;  
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
} .reply_count a:visited {
  color: #bbb;
} .reply_count a:hover {
  color: #FFF;
  background-color: #1082c2;
  text-decoration: none;
} 

.ar_extra ,
.item_ar_extra {
  font-weight: bold;
  color: #969696; 
  margin-top: 3px;
  font-size: 10px;
}
.item_ar_extra {
  padding: 2px 25px;
}
.ar_content {  
  font-size: 14px;  
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  padding-right: 10px;
  padding-bottom: 10px;
}
.ar_content div,  
.ar_content p {  
  padding: 0;
  margin: 0;  
  line-height: 22px;    
  margin-bottom: 10px;
}
.ar_content ol,
.ar_content ul {
  list-style-type: disc;
  margin-left: 40px;
  line-height: 20px;  
  margin-bottom: 10px;
}
.ar_content ol {
  list-style-type: decimal;
}
.ar_content img {  
  max-width: 570px;
}
/* signup page start */
#signup_wrap {
  background: #FFF;
}





.reply_table tr:hover {    
  background: #efefff;
}
.iform_table_wrap td label {    
  font-weight: bold;  
  display: block;
  margin-bottom: 5px;
}
.iform_table_wrap tbody td textarea {
  width: 98%;
  height: 400px;
}
.reply_wrap .iform_table_wrap tbody td textarea {
  width: 98%;
  height: 200px;
}
.reply_wrap .reply_gravatar a {
  display: block;
  border: 1px solid #FFF;
  width: 42px;
  height: 42px;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}
.reply_wrap .reply_gravatar a:hover {
  background: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}
.reply_wrap .reply_gravatar a img {
  margin-top: 1px;
}
.reply_wrap .iline:last-child {
  border: none;
}

.widgContainer {  
  border: 1px solid #AFAFAF; 
}

.newest-node .widgContainer ul li a,
.newest-node .widgContainer ul li {
  height: 27px;
  width: 27px;
}
.newest-node .widgContainer a:hover {
  background-color: transparent;
}
.widg-extra {
  text-align: right;
  background: #efefef;
  border: 1px solid #AFAFAF;
  border-top: none;
  padding: 5px;
}
.widg-extra span {
  color: #515151;
  margin-left: 10px;
}
.widg-extra span:hover {
  color: #000;
}


.unread,
.unread:link,
.unread:visited {
  color: #8C0505;
}
.read,
.read:link,
.read:visited {
  color: gray;
}
.itable tbody td textarea.sign {
  width: 90%;
  height: 80px;
  font-size: 14px;
}

.nodeunlove,
.nodelove {
  width: 15px;
  height: 15px;
  background: url(bgs/mail.png) no-repeat 2px -18px;
  text-indent: -10000px;
}
.nodelove {
  background-position: -18px -18px;
}

.member_topics { 
  clear: both;
  }.member_topics  a {
    float: left;
    width: 70%;
    overflow: hidden;
    text-overflow:ellipsis;
  }


.member-photos-pick ul {
  margin-left: 50px;
  }.member-photos-pick ul li {
  float: left;
  width: 160px;
  overflow: hidden;
  height: 140px;
  margin-right: 10px;
  }.member-photos-pick ul li span{
    display: block;
    width: 160px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
  }
